body {
  background-image: url("images/bg_image.jpg");
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
.header {
  color: white;
  text-align: center;
  font-weight: bold !important;
}
/* .buttonclass {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.button {
  text-align: center;
  font-size: 24px !important;
  border-radius: 10px !important;
  padding: 1%;
  font-weight: bold;
  outline: none !important;
  border: none !important;
  background-color: blue;
  color: #ffbd69;
}

.box {
  display: inline-flex;
  background-color: #ffbd69;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 1rem 0.1rem;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.game {
  padding: 4% !important;
}
.hide {
  display: none;
}
#turnleft {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
img {
  height: 100% !important;
  width: 100% !important;

  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    70% 100%,
    29% 100%,
    0% 60%,
    10% 20%
  );
  -webkit-box-shadow: 0px 0px 41px 15px rgba(0, 7, 59, 1);
  -moz-box-shadow: 0px 0px 41px 15px rgba(0, 7, 59, 1);
  box-shadow: 0px 0px 41px 15px rgba(0, 7, 59, 1);
}
.imgcol {
  margin-top: 4rem;
}
.keyred {
  background-color: #c70039;
}
.keygreen {
  background-color: #81b214;
}
